/* You can add global styles to this file, and also import other style files */

//global
@import "themes/global/variables";
@import "themes/global/flex";
@import "themes/global/bootstrap";

//components


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $accent;}
